<html th:fragment="scriptFragment">
<head>
	

	<!-- Favicons -->
	<link th:href="@{/img/favicon.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
	 
	 
	<!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
	
	<!-- Template Main CSS File -->
	<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	
	<!-- Vendor JS Files -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
	<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
	<script th:src="@{/vendor/aos/aos.js}"></script>
	<script th:src="@{/vendor/php-email-form/validate.js}"></script>
	
	 <!-- Template Main JS File -->
	<script th:src="@{/js/main.js}"></script>
</body>
</html>